@tailwind base;
img {



}
@tailwind components;
@tailwind utilities;

body {
  max-width: 100vw !important;
  font-family: sans-serif;
}
.rsis-image {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 650px) {
  .imgd > div > div {
    width: 100% !important;
  }
}

#map { height: 300px;
width: 100vw; }